@media(min-width:700px){
    .top-btn{
        display: none;
    }
    .top-tel{
        display: flex;
        margin-top: 30px;
        padding-right: 10px;
    }
    .order-btn{
        display: none;

    }
    .order-tel{
        display: flex;
        margin-top: 30px;
    }
}

@media(max-width:700px){
    .container{
        width: 150%;
        margin: 0 auto;
    }
    .top{
        display: none;
    }
    .top-logo{
        width: 70%;
        margin-left: 10px;
    }
    .top-logo img{
        width: 100%;
    }
    .top-list{
        display: none;
    }
    .top-tell{
        padding: 10px;
    }
    .top-rigth{
        float: right;
        text-align: center;
        width: 100%;
        padding-top: 10px;
    }
    .top-btn a{
        width: 100%;
    }
    .main-img{
        width: 100%;
    }
    .menu-wrapper h1{
        width: 100%;
    }
    .menu{
        width: 100%;
    }
    .bento{
        width: 100%;
    }
    .footer-list{
        display: none;
    }
    .qu{
        width: 90%;
        margin: 32px auto 16px auto;
    }
    .an{
        width: 90%;
        margin: 0 auto;
    }
    .ques-top p{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .order-list img{
        margin: 4px 0;
    }
    .order-wrapper p{
        margin-top: 8px;
    }
    .order-wrapper h2{
        margin-bottom: 16px;
    }
}
